extends layout

block content
  h1
    | Kunde inte hitta sidan
    span :(
  p En klassisk 404.
  p Visste du att
  ul
    li året 404 var ett skottår som började på en fredag?
    li projekt 404 var ett kodnamn för ett hemligt Amerikanskt uppdrag i Vietnamesiska kriget.