doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .snap-drawers
      block menu
    div.snap-content
      main
        block content
  block scripts
  block customScripts