extends page

block content
  section.m-content-section.m-feed.grid
     include postpanel
     .container
         p test
        

block customScripts
  script(src='/vendor/waypoints.min.js')
  script(src='/javascripts/post.js')
