extends page

block content
  #newpost
    textarea(id='post_textarea').
      Post something new...
    #postbutton
      input(type='button', value='POST')
  hr(width="75%", size="1px", noshade)
  ul#posts
  #morePostsButton
    input(type='button', value='Load more posts')

block customScripts
  script(src='/vendor/waypoints.min.js')
  script(src='/javascripts/post.js')
  script(src='/javascripts/home.js')
