extends head

block content
  #background
    .loginContainer
      form(method="post")#signInForm
        input#user-signIn(type='text', name='user', placeholder='USERNAME')
        input#pass-signIn(type='password', name='pass', placeholder='PASSWORD')
        button#button-signIn(type='button') Sign in
      a(href="/auth/google") Sign In with Google

block scripts
  script(src='/vendor/jquery.min.js')
  script(src='/vendor/jquery.form.js')
block customScripts
  script(src='/javascripts/signIn.js')