extends head

block content
  #background
    .loginContainer
    form(method="post")#signInForm
    input#user-signIn(type='text', name='user', placeholder='USERNAME')
    input#pass-signIn(type='password', name='pass', placeholder='PASSWORD')
    button#button-signIn(type='button') Sign in