extends head

block menu
  include menu

block scripts
  script(src='/vendor/jquery-2.2.0.min.js')
  script(src='/vendor/jquery-ui.min.js')
  // script(src='/vendor/jquery.min.js')
  // script(src='/vendor/jquery.form.js')