extends page

block content
  section
    input(type='password', value='SebaÄrBÄST!', id='newpassword')
    input(type='button', value='Change', id='passwordbutton')

block customScripts
  script(src='/javascripts/settings.js')